.error
{
    background-image: var( --back-error);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5%;
    width: 90%;
    backdrop-filter: blur(10px);
    justify-content: center;
    height: 350px;
    border-radius: 50px;
}

.error h1
{
    top:80px;
    position: relative;
    font-size: 80px;
    color: var(--text);
    font-family: 'galada';
}

.error p
{
    position: relative;
    top:50px;
    font-size: 40px;
    color: white;
    font-family: 'tilt neon';
}