
.header
{
    margin: 2.5% 5%;
    text-align: center;
}
.header h1
{
    font-size: 80px;
    font-weight: 700;
    color: var(--text);
    font-family: "great vibes",sans-serif;
}
.header p
{
    padding: 10px;
    font-size: 25px;
    color: var(--text);
    font: sans-serif;
    font-weight: 500;
}