
.addhotel {
  width: 80%;
  margin: 2.5% 10% ;
  padding: 20px;
  border: 1px solid var(--border-col);
  border-radius: 20px;
  background-color: var(--form-col);
}

.addhotel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.addhotel label {
  font-size: 18px;
  color: var(--text);
  font-family: 'concert one',sans-serif;
}

.addhotel input[type="text"] {
  width: 100%;
  padding: 8px;
  color: var(--text);
  background-color: var(--form-fill-col);
  border: 1px solid var(--border-col);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
}
.addhotel input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-col);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
}

.address
{
  display: flex;
  align-content: start;
}
.addr-field
{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.btn
{
  width: 100%;
  display: flex;
  justify-content: center;
}

button
{
  background-color: #4c7faf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:20px;
  padding: 10px 20px;
}

.addhotel select {
width: 100%;
padding: 8px;
color: var(--text);
background-color: var(--form-fill-col);
border: 1px solid var(--border-col);
border-radius: 4px;
margin-bottom: 10px;
font-size: 18px;
}
